body {
    margin: 0;
}

.Beginning-segment {
    background-image: linear-gradient(rgb(63, 63, 190), rgb(2, 2, 118));
    background-repeat: repeat;
    display: flex;
    background-position-y: top;


}

.Department-info {
    color: beige;
    font-size: 30px;
    padding-left: 35px;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Roboto', sans-serif;
}

.University {
    padding-left: 35px;
    color: rgb(164, 215, 236);
    font-size: 30px;
    padding-bottom: 50px;

    font-family: 'Times New Roman', Times, serif;
}

#Search {
    padding-left: 10px;
    margin-left: 400px;
}

.Search-Button {
    background-image: linear-gradient(salmon, orange);
    color: azure;
    border-radius: 3px;
    font-weight: 700;
}

.Search-bar {
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-bottom: -15%;

}

.LOGO {
    height: 165px;
    padding-left: 40px;

    padding-bottom: 10px;

}

h4 {
    display: inline;

}

.About_RUET {

    font-size: 15px;
    color: orange;
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    padding-left: 40px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 10px gray;
    margin-bottom: 20px;


}

.Streamline {
    display: flex
}

.Right-side {

    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: 700;
    margin-left: 15px;
    margin-right: -140px;

    padding-left: 210px;
    padding-right: -10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.Positioning {
    padding-top: 15px;
}

.Background-Stats {

    display: flex;
    margin: 0;
}

.Beginning-title {

    font-size: 30px;
    color: rgb(206, 141, 37);
    padding-left: 5px;
    font-weight: 700;
}

.Paragraph-1 {
    color: rgb(39, 81, 122);
    padding-right: 10px;
    font-size: 25px;
    font-weight: 300;
    font-family: 'Times New Roman', Times, serif;
    margin: 5px;
}

.Resillience {
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1%;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px 15px gray;
    border-left: 10px solid red;
    border-right: 8px solid navy;
}

.Paragraph-2 {
    color: rgb(39, 81, 122);
    padding-right: 10px;
    font-size: 20px;
    font-weight: 300;
    font-family: 'Times New Roman', Times, serif;
    margin: 5px;

}

.Professor {
    color: navy;
    text-decoration: none;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;

}

.Message {
    width: 72%;
    margin-left: 1%;
    margin-right: 5%;
    margin-bottom: 1%;
    margin-top: 3%;
    padding-left: 20px;
    padding-bottom: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px 15px rgb(71, 70, 70);
    border-left: 10px solid red;
    border-right: 8px solid navy;

}

.Details-of-PROF {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 17px;

}

.Head {

    display: flex;
}

.Image-of-Professor {

    width: 30%;
    padding-top: 50px;
    border-radius: 10px;




}